body,
html {
    background-color: #D8DBE2;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.extension-image {
    width: 150px;
    height: 150px;
}

.main-content {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    margin: 0;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    text-decoration: solid;
}

@media only screen and (max-width: 1024px) {

    body,
    html {
        width: 400px;
        height: 150px;
    }

    .main {
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .footer {
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
}