body,
html {
    background-color: #D8DBE2;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="tel"] {
    padding: 10px;
    width: 250px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    margin-top: 10px;
}

a {
    display: block;
    margin-top: 20px;
}

a:hover {
    color: purple;
}


@media only screen and (max-width: 1024px) {

    body,
    html {
        width: 400px;
        height: 150px;
    }

    .main {
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }

    div#navigation {
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .footer {
        width: 250px;
        margin-left: 25px;
        margin-right: 25px;
    }
}