<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/feedback.css">
    <!-- <script src="../static/feedback.js"></script> -->
    <title>Document</title>
</head>

<body>
    <form action="/submitfeedback" method="post">
        <label for="feedbackurl">Enter Website URL</label>
        <input type="url" name="feedbackurl" id="feedbackurl" required>
        <label for="feedbacktext">Enter Your Feedback</label>
        <textarea name="feedbacktext" id="feedbacktext" cols="15" rows="3"></textarea>
        <input type="submit" id="submitfeedback">
    </form>
    <a href="popup.html">Return to Main Menu</a>
</body>

</html>