<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/feedback.css">
    <!-- <script src="../static/feedback.js"></script> -->
    <title>Document</title>
</head>

<body>
    <form action="/submitfeedback" method="post">
        <label for="website_url">Enter Website URL</label>
        <input type="url" name="website_url" id="website_url" required>
        <label for="feedback_text">Enter Your Feedback</label>
        <textarea name="feedback_text" id="feedback_text" cols="15" rows="3" required></textarea>
        <input type="submit" id="submitfeedback">
    </form>
    <a href="popup.html">Return to Main Menu</a>
</body>

</html>