<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/feedback.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}">
    <!-- <script src="../static/feedback.js"></script> -->
    <title>Document</title>
</head>

<body>
    <form action="/submitfeedback" method="post">
        <label for="website_url">Enter Website URL</label>
        <input type="url" name="website_url" id="website_url" required>
        <label for="rating">Enter Your Rating</label>
        <input type="number" name="rating" id="rating" minlength="0" maxlength="5">
        <label for="feedback_text">Enter Your Feedback</label>
        <textarea name="feedback_text" id="feedback_text" cols="15" rows="3" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <p>{{response}}</p>

    <a href="/">Return to Main Menu</a>
</body>

</html>