<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">
    <!-- <script src="../static/popup.js"></script> -->
    <title>Document</title>
</head>

<body>
    <div class="container">
        <img src="../static/icon.png" alt="Extension Image" class="extension-image">
        <div class="content">
            <h2>The extension is currently running in the background</h2>
            <div class="links">
                <a href="/verification" class="link">Verify Customer Care Number</a>
                <a href="/feedback" class="link">User Feedback</a>
            </div>
        </div>
    </div>
</body>

</html>