<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/verification.css">
    <!-- <script src="../static/verification.js"></script> -->
    <title>Verification</title>
</head>

<body>
    <form action="/submitnumber" method="post">
        <label for="number"></label>
        <input type="tel" name="number" id="number" placeholder="Enter Number" maxlength="10" required>
        <button type="submit">Submit</button>
    </form>
    <a href="popup.html">Return to Main Menu</a>
</body>

</html>