<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/verification.css">
    <!-- <script src="../static/verification.js"></script> -->
    <title>Verification</title>
</head>

<body>
    <form action="/submitnumber" method="post">
        <label for="phone_number"></label>
        <input type="tel" name="phone_number" id="phone_number" placeholder="Enter Number" maxlength="11" required>
        <button type="submit" onclick="onClicked()">Submit</button>
    </form>
    
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    
    <a href="popup.html">Return to Main Menu</a>
</body>

</html>
